.header__burger {
    display: none;
    cursor: pointer;

    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    .bar {
        display: block;
        height: 2px;
        width: 15px;
        margin: 3px 0;
        border-radius: 10px;
        background-color:rgba(255, 255, 255, 0.55);
        transition: var(--transition);
    }
}


@include lg {
    .header__burger {
        display: flex;
        align-items: center;

        font-size: 14px;
        color: rgba(255, 255, 255, 0.55);
        font-weight: var(--weight-semibold);
        text-transform: uppercase;

        &-name {
            margin: 0 5px 0 0;
        }

        &.active {
            .bar {
                &:nth-child(1) {
                    transform: translateY(5px) rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: translateY(-5px) rotate(-45deg);
                }
            }
        }
    }
}
